In [4]:
import sqlite3

In [29]:
conn = sqlite3.connect('words.db')
c = conn.cursor()
c.execute("""CREATE TABLE words
(word_id integer NOT NULL,
word text,
sructure text,
part_of_speech NOT NULL DEFAULT 'noun')
""")

In [30]:
c.execute("""INSERT INTO words VALUES (1, 'table', 'R0F4', 'noun'),
             (4, 'eat', 'W1Y5', 'verb'),
             (2, 'attractive', 'N9X0', 'adjective'),
             (7, 'bed', 'R5H3', 'noun'),
             (3, 'slowly', 'M7O9', 'adverb'),
             (9, 'drink', 'N7P3', 'verb')""")
conn.commit()

In [27]:
for row in c.execute('SELECT * FROM words'):
    print(row)

(1, 'table', 'R0F4', 'noun')
(4, 'eat', 'W1Y5', 'verb')
(2, 'attractive', 'N9X0', 'adjective')
(7, 'bed', 'R5H3', 'noun')
(3, 'slowly', 'M7O9', 'adverb')
(9, 'drink', 'N7P3', 'verb')

In [28]:
sql1 = 'SELECT word FROM words ORDER BY word DESC'
for row in c.execute(sql1):
    print(row)

('table',)
('slowly',)
('eat',)
('drink',)
('bed',)
('attractive',)

In [33]:
sql2 = 'SELECT word FROM words WHERE part_of_speech = "verb"'
for row in c.execute(sql2):
    print(row)

('eat',)
('drink',)

In [34]:
sql3 = 'SELECT * FROM words WHERE part_of_speech LIKE "n%"'
for row in c.execute(sql3):
    print(row)

(1, 'table', 'R0F4', 'noun')
(7, 'bed', 'R5H3', 'noun')